.top-nav{
  height: 10dvh;
  width: 100%;
  background-color: black;
}

.bottom-nav{
  position: fixed;
  z-index: 999;
  background-color:  #5ADBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10dvh;
  bottom: 0;
}


.middle-nav
{
  display: flex;
  flex-flow: row wrap;
  padding-left: 2.7dvh;
}

.card{
  height: 30dvh;
  width: 20dvh;
  background-color: yellowgreen;
  margin-top: 3dvh;
  margin-left: 2dvh;
  margin-right: 1dvh;
  border-radius: 5%;
}

.card button{
  height: 100%;
  width: 100%;
  opacity:0;
}